<% @title = DateTime.current.year %>

<section class="cid-r7o72Bhmed mbr-fullscreen">
    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(130, 130, 130);">
    </div>

    <div class="container">
        <h1 class="mbr-section-subtitle mbr-fonts-style align-center mbr-white display-5">
          <%= t 'home_small_print' %>
        </h1>
        <div class="underline align-center pb-3">
            <div class="line">
            </div>
        </div>
        <h2 class="mbr-section-title mbr-fonts-style align-center mbr-white pb-4 display-1">
          <%= t 'home_main_title' %>
        </h2>
    </div>
</section>

<% @page_locales.each_with_index do |page_locale, index| %>
  <section class="features1 <%= index.even? ? 'cid-r7o8gt3azK' : 'cid-r7o8w9BZe1' %>" id="features1-4">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-6 image-element">
          <div class="img-wrap" style="height: 100%; width: 100%;">
            <%= image_tag page_locale.page.images.first if page_locale.page.images.attached? %>
          </div>
        </div>
        <div class="col-md-10 col-lg-6 text-element">
          <h2 class="mbr-section-title mbr-fonts-style align-center display-5">
            <%= page_locale.menu_title %>
          </h2>
          <p class="mbr-text mbr-fonts-style mbr-lighter align-center display-7">
            <%= strip_tags page_locale.content&.first(250) %>...
          </p>
          <div class="mbr-section-btn align-center">
            <%= link_to (t 'more_info'), page_locale_path(locale: params[:locale], id: page_locale.link), class: 'btn btn-lg btn-primary display-4'%>
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>



<section class="testimonials1 cid-r7oenkEURR" id="testimonials1-c">
  <div class="mbr-overlay" style="opacity: 0.9; background-color: rgb(255, 255, 255);">
  </div>
  <div class="container">
    <h2 class="mbr-section-title main-title mbr-fonts-style mbr-white align-center pb-5 display-5">
      <%= t 'from_the_people_who_have_come' %>
    </h2>

    <div class="col-lg-10 testimonials-container mbr-white">
      <div class="testimonials-item">
        <div class="user row text-center">
          <div class="testimonials-caption col-12">
            <div class="user_text mbr-text mbr-fonts-style mbr-lighter display-7">
              "Jeri foi o melhor lugar para eu praticar kite! Foram dias inesquecíveis! Valeu mesmo, Jeri!"
            </div>
            <div class="user_name mbr-bold mbr-fonts-style pt-3 display-7">
              Adriano - 28 anos - Rio de Janeiro
            </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-lg-10 testimonials-container mbr-white">
      <div class="testimonials-item">
        <div class="user row text-center">
          <div class="testimonials-caption col-12">
            <div class="user_text mbr-text mbr-fonts-style mbr-lighter display-7">
              "I came to jeri by accident and had the time of life! I can't wait to return with friends."
            </div>
            <div class="user_name mbr-bold mbr-fonts-style pt-3 display-7">
              Noah - 22 anos - Germany
            </div>
        </div>
      </div>
    </div>
  </div>

    <div class="col-lg-10 testimonials-container mbr-white">
      <div class="testimonials-item">
        <div class="user row text-center">
          <div class="testimonials-caption col-12">
            <div class="user_text mbr-text mbr-fonts-style mbr-lighter display-7">
              "Vim para Jeri num momento em que precisava de fato descansar, relaxar, curtir, e viver. O Sol, as praias, as pessoas, o lugar por inteiro foi tudo isso! Bem o que eu precisava! Obrigada! Eternamente grata!!"
            </div>
            <div class="user_name mbr-bold mbr-fonts-style pt-3 display-7">
              Juliana - 34 anos - Porto Alegre
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pricing-table1 cid-r7oeqXiEpW" id="pricing-table1-d">




    <div class="container">




        <h2 class="mbr-section-title main-title mbr-fonts-style mbr-white align-center display-5 pb-5">
            Tickets</h2>

        <div class="row justify-content-center">
            <div class="table col-md-6 col-lg-4 first-row-table">
                <div class="table-wrapper">
                    <div class="table-head-wrapper mbr-white">
                        <span class="table-heading mbr-section-title mbr-fonts-style mbr-bold display-7">
                            Single</span>
                        <div class="table-purchase">
                            <span class="pricing-value mbr-fonts-style display-5">
                                $ 40</span>

                        </div>
                    </div>
                    <ul class="list-group mbr-fonts-style mbr-lighter display-7">
                        <li>One place in a basket</li>
                        <li>Equipment rental</li><li>Training and instructions<br></li>
                    </ul>
                    <div class="mbr-section-btn pt-4 align-center"><a href="#" class="btn btn-md btn-primary display-4">BUY TICKET</a></div>
                </div>
            </div>

            <div class="table col-md-6 col-lg-4 first-row-table">
                <div class="table-wrapper">
                    <div class="table-head-wrapper mbr-white">
                        <span class="table-heading mbr-section-title mbr-fonts-style mbr-bold display-7">For Children (6-14 years old)</span>
                        <div class="table-purchase">
                            <span class="pricing-value mbr-fonts-style display-5">
                                $ 20</span>

                        </div>
                    </div>
                    <ul class="list-group mbr-fonts-style mbr-lighter display-7">
                        <li>One place in a basket
</li><li>Equipment rental
</li><li>Training and instructions</li>
                    </ul>
                    <div class="mbr-section-btn pt-4 align-center"><a href="#" class="btn btn-md btn-primary display-4">BUY TICKET</a></div>
                </div>
            </div>

            <div class="table col-md-6 col-lg-4 last-table">
                <div class="table-wrapper">
                    <div class="table-head-wrapper mbr-white">
                        <span class="table-heading mbr-section-title mbr-fonts-style mbr-bold display-7">Group (4 persons)</span>
                        <div class="table-purchase">
                            <span class="pricing-value mbr-fonts-style display-5">
                                $ 150</span>

                        </div>
                    </div>
                    <ul class="list-group mbr-fonts-style mbr-lighter display-7">
                        <li>Perfect for couples and families<br></li>
                        <li>Equipment rental
</li><li>Training and instructions</li>
                    </ul>
                    <div class="mbr-section-btn pt-4 align-center"><a href="#" class="btn btn-md btn-primary display-4">BUY TICKET</a></div>
                </div>
            </div>


        </div>
    </div>
</section>
