<section class="maps1 cid-r7owzdWvdf" id="maps1-f">
  <div class="container">
    <div class="row main-row justify-content-center pt-5">
      <div class="col-md-10 col-lg-6 form-wrapper" data-form-type="formoid">
        <h2 class="mbr-section-title form-title mbr-fonts-style pb-3 display-5">
          <%= t 'contact_us' %>
        </h2>
        <p class="mbr-text form-text mbr-fonts-style m-0 pb-4 mbr-lighter display-7">
          <%= t 'eager_to_help' %>
        </p>
        <div class="form1" data-form-type="formoid">
          <div data-form-alert="" hidden="">
            <%= t 'thanks' %>
          </div>
          <form class="mbr-form" action="https://mobirise.com/" method="post" data-form-title="Mobirise Form">
            <div class="input-wrap" data-for="email">
                <label class="form-label-outside mbr-lighter" for="form-1-email">
                  E-Mail
                </label>
                <input type="email" class="form-control" name="email" data-form-field="Email" required="" id="email-maps1-f">
            </div>
            <div class="form-group" data-for="message">
                <label class="form-label-outside mbr-lighter" for="form-1-message">
                  Message
                </label>
                <textarea type="text" class="form-control" name="message" rows="4" data-form-field="Message" id="message-maps1-f">
                </textarea>
            </div>
            <span class="input-group-btn">
              <button href="" type="submit" class="btn btn-lg btn-form btn-primary display-4">
                <%= t 'send_form_info' %>
              </button>
            </span>
          </form>
        </div>
        </div>
        <div class="col-md-10 col-lg-6">
            <div class="google-map">
              <iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?key=<%= ENV['BLOG_KEY'] %>&center=-2.7955395,-40.5136509&zoom=14.84" allowfullscreen="">
              </iframe>
            </div>
        </div>
      </div>
   </div>
</section>

<section class="footer2 cid-r7owx7axKc" once="footer" id="footer2-e">
  <div class="container">
    <div class="row justify-content-center mbr-white">
      <div class="col-12 col-md-6">
        <p class="mbr-text mb-0 mbr-fonts-style align-center display-7">
            © 2018 VisitJeri - <%= t 'all_rights_reserved' %>
        </p>
      </div>
      <div class="col-12 col-md-6">
        <p class="mbr-text mb-0 mbr-fonts-style align-center display-7">
            <%=  t 'jeri_ce_brasil' %>
        </p>
      </div>
    </div>
  </div>
</section>
